.faqcontent{
	background-color:#edeef0;
}

.faqtext{
	padding:30px 80px 60px 40px;
}
.faqtext h2{
	font-size: 35px;
	color:#1f1919;
}
.faqtext .orange{
color:#e88800;
padding-top:30px;
padding-bottom:20px;
}
.faqtext p{
	color:#8f8b8c;
	line-height:24px;
	text-align: justify;
}