body,
input,
select,
textarea {
	font-family: arial;
	font-size: 12px;
}

a{
	text-decoration: none;
}
.header{
	background-image:url('images/headerbackground.png');
	position: relative;
	padding-bottom: 90px;
}
	.wrapper{
		width:960px;
		margin:0 auto;
	}
	.header img,
	.header p{
		float:left;
		margin-top: 44px;
		padding-top: 10px;
		line-height:43px;
	}
	.logo{
		margin-left: 40px;
		border-right: 1px solid #2f2b2b;
		padding-right: 28px;		
	}
	.header p{
		color: #8f8b8c;
		padding-left:58px;
		border-left:1px solid #000000;
		}
	.header ul{
		float:right;
		margin-right: 50px;
		margin-top: 15px;
	}
	.header li{
		display: inline-block;
	}
.menubar{
border-radius:5px;
background-image:url('images/menubar.png');
background-repeat: repeat-x;
position:absolute;
top:140px;
font-size: 0;
border: 2px solid #f1af00; 
box-shadow: 0 -2px 8px -1px #bf6b00, 0 4px 0 0 #bf6b00;
height: 68px;
}
	.menubar li {
		display:inline-block;
	    border-right:1px solid #e47d00;
		border-left:1px solid #f3bb00;
		margin-top: 12px;
	}
	.menubar li:first-child{
		border-left:none;
	}
	.menubar li:last-child{
		border-right: none;
	}
	.menubar a{
		line-height: 48px;
		color:#0f0c0c;
		font-size:18px;
		padding: 0 44px;
	}
	.menubar a:hover{
		color:#e47d00;
	}
.topcontent{
	background-image: url('images/contentbackground.png');
	box-shadow: inset 2px -4px 10px #000000;
}
	.topcontent .images{
		padding-top: 70px;
	}
	.images li{
		display: inline-block;
		margin-right: 15px;
		margin-left:15px;
	}
.toptext{
	padding-bottom: 50px;
	padding-top: 15px;
}
	.toptext li{
		text-align: center;
		display: inline-block;
		width:24%;	
		border-right:1px solid #2e2626;
		border-left: 1px solid #2e2626;
		padding-right: 40px;
		padding-left: 40px;
	}
	.toptext li:first-child,
	.toptext li:last-child{
		border-left: none;
		border-right: none;
	}	
	.toptext h2,
	.toptext p{
		font-family: Arial;	
	}
	.toptext h2{
		font-size: 18px;
		color: #e37700;
		line-height: 46px;
	}
	.toptext p{
		color:#8f8b8c;
		line-height: 18px;
	}
	.toptext a{
		border-radius: 5px;
		background-color: rgba(0, 0, 0, 0.5);
		border-bottom:2px solid #4a4343;
		border-top: 2px solid #161111;
		border-left: 2px solid #201a1a;
		border-right: 2px solid #201a1a;
		color:#ffffff;
	    padding: 10px 30px;
	    display: inline-block;
	    margin-top: 20px;
	}
	.toptext a:hover{
		color:#e37700;
	}
.bottomcontent{
	background-color:#edeef0;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 50px;
}
	.content{
		float: left;
		width:30%; 
		color:#8f8b8c;
		line-height:22px;
	}

	.left ul{
		padding-top: 20px;
	}
		.central{
			border-right: 1px solid #ffffff;
			width: 30%;
			padding: 50px 19px 85px 10px;
		}
		.central ul{
			padding-top: 27px;
		}
		.right{
				border-left:1px solid #d5d6d8;
				padding-left: 40px;
				width: 26%;
		}	
		.news li{
			padding-top: 15px;
		}
		.news li:first-child{
			padding-top: 0px;
		}
		.news span{
			background-image: url('images/cerc.png');
			background-repeat: no-repeat;
			background-position: left;
			padding-left: 15px;
		}
		.content h1{
				font-size: 35px;
				color:#1f1919;
				margin-bottom: 30px;
		}
		.content .orange{
			color:#e88800;
		}
		.content a{
			color:#8f8b8c;
			border-radius: 5px;
			background-color: rgba(0, 0, 0, 0.1);
			padding: 7px 30px;
			border-bottom: 1px solid #ffffff;
			box-shadow: inset 0 1px 2px #000000;
			display: inline-block;
			margin-top: 20px;
			margin-bottom: 22px;
		}
		.content a:hover{
			color:#e47d00;
		}
.footer{
	background-color:#141010;
	padding:50px 0;
}
	.footer p,
	.footer ul{
		text-align: center;
	}
	.footer p{
		color:#8f8b8c;
	}
	.footer span,
	.footer a{
		color:#e88800;
	}
	.footer li{
		display: inline-block;
		line-height: 24px;
	}
	

