.servicescontent {
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 40px;
	background-color: #edeef0;
}
.servicescontent h2{
	font-size: 25px;
	font-family: arial;
	color: #1f1919;
	font-weight: bold;

}
.servicescontent h4{
	color: #ffffff;
	background-color:#e88800;
	padding:5px 20px;	
	margin-top: 27px;
	display: inline-block;
	font-weight: bold;
}
.servicescontent h6{
	color:#1f1919;
	font-family: arial;
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 20px;
	font-weight: bold;
}

.servicescontent .left{
width: 60%;
border-right: 1px solid #ffffff;
padding-right: 20px;
padding-bottom: 5px;
}
.servicescontent .right h2{
	padding-bottom: 20px;
}
.servicescontent .right ul{
	padding-bottom: 10px;
}
.servicescontent .right img{
	float: left;
	padding-right: 15px;
	padding-top: 10px;

}
.servicescontent .right p{
	padding-right: 5px;
	display: inline-block;

}
.servicescontent .left a {
	padding-right: 38px;
	padding-left: 38px;
}
.servicescontent .right a{
	margin-top: 0px;
}
.servicescontent a{
	margin-bottom: 0;
}